---
language: node_js
node_js: 6

dist: trusty
sudo: false

cache:
  directories:
    - node_modules

before_install:
  - npm install -g angular-cli

install:
  - npm install --no-optional

script:
  - ng lint
  - ng build

before_deploy:
  - ng build --prod

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: atcofficial.kr
  skip_cleanup: true
  local_dir: dist
  region: $AWS_DEFAULT_REGION
