@import '../../scss/common';

.information {
  .name {
    h1 {
      font-size: 2rem;
    }
  }

  .email {
    h3 {
      font-size: 1rem;
      color: #767676;
    }
  }

  .description {
    h3 {
      font-size: 1rem;
      color: #767676;
    }
  }
}
