.img-program {
  width: 100%;
}

.display-title {
  margin-top: 5px;
  margin-bottom: 0;
  color: black;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 2;
}
