<div [mnFullpage]="mnFullpageOptions">
  <section class="fp-section">
    <div class="theme-image img-fluid"></div>
  </section>
  <section class="fp-section">
    <div class="embed-responsive embed-responsive-16by9">
      <div class="video-overlay w-100 h-100"></div>
      <iframe data-autoplay class="embed-responsive-item" src="//www.youtube.com/embed/1-Affww8s9k?autoplay=0&showinfo=0&controls=0" allowfullscreen></iframe>
    </div>
  </section>
  <section class="fp-section">
    <div class="container py-3">
      <div class="col-sm-12 col-lg-6 mb-1 hidden-xs-down">
        <img [src]="catalogue.imageUrl" [alt]="catalogue.text | locale" class="img-fluid">
      </div>
      <div class="col-sm-12 col-lg-6">
        <ngb-carousel>
          <template ngbSlide *ngFor="let item of slideItems">
            <a [routerLink]="['/participants', item.participantId]">
              <img [src]="item.imageUrl">
            </a>
          </template>
        </ngb-carousel>
      </div>
    </div>
  </section>
</div>
