<article *ngIf="archive">
  <section class="cover">
    <app-image-slider [images]="archive.images"></app-image-slider>
  </section>
  <div class="container py-2">
    <div class="row">
      <section class="information text-xs-center col-xs-12 col-md-10 offset-md-1">
        <section class="title">
          <h1>{{ archive.name | locale }}</h1>
        </section>
        <section class="director-name">
          <h3>{{ 'ARCHIVES.DIRECTOR' | translate }}: {{ archive.director.name | locale }}</h3>
        </section>
        <section class="description mt-2">
          <p *ngFor="let description of (archive.description | locale | split: '\n')" class="text-justify">{{ description }}</p>
        </section>
      </section>
    </div>
  </div>
</article>
