@import '../../scss/common';

header {
  margin-top: 0.5rem;

  h1 {
    color: #767676;
    font-size: 1rem;
    font-weight: normal;
  }
}

.title {
  position: absolute;
  top: 40%;
  width: 100%;
  visibility: hidden;
  color: white;
}

.conference {
  position: relative;
  float: left;
  width: 100%;

  &:hover {
    .inner {
      background: #bbb;
      filter: grayscale(100%) brightness(0.5);
    }

    .overlay {
      .title {
        visibility: visible;
      }
    }
  }
}
